{% extends "base.html" %}
{% load static %}
{% block head_title %} {{sitio.web}} | Especialidades {% endblock %}


{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'especialidad/especialidad.css' %}">

{% endblock %}


{% block content %}
<h1> Nuestras Especialidades</h1>
<div class="ui accordion" id="especialidades">
    {% for especialidad in object_list %}

    <div class="especialidad title" id="tit_{{especialidad.slug_titulo}}">
        {{especialidad.titulo}}
    </div>
    <div class="especialidad content" id="cont_{{especialidad.slug_titulo}}">
        {{especialidad.imagen}}
        {{especialidad.cuerpo}}
    </div>

    {% endfor%}
</div>

{% endblock %}

{% block footer_javascript%}
<script>
//Activa acordeon
$('.ui.accordion')
.accordion();
</script>
{%endblock%}
