{% extends "base.html" %}
{% load staticfiles %}


{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">

{% endblock %}

{% block footer_javascript %}
{% endblock %}

{% block head %}
<div class="site_name">
    <div class="presentacion">
        <img id="big_logo" src="{% static 'img/logo.png' %}">
    </div>
    <div id="titulo">{{sitio.nombre}}</div>
    <div id="frase">{{sitio.frase}}</div>
</div>

{% endblock head %}


{% block content %}
{% for imagen in imagenes %}
<div class="{{configuracion.set_images.nombre}}" id="{{imagen.etiqueta}}">
    <img src="/media/{{imagen.imagen}}" alt="{{imagen.etiqueta}}"></div>
{% endfor%}

{% endblock %}
