{% extends "base.html" %}
{% load static %}
{% block head_title %} {{sitio.web}} | Patologias {% endblock %}


{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'patologia/patologia.css' %}">

{% endblock %}

{% block content %}
<h1> Patologías que Atendemos</h1>
<div class="ui accordion" id="patologias">
    {% for patologia in object_list %}
    <div class="patologia title" id="tit_{{patologia.slug_nombre}}">
        {{patologia.nombre}}
    </div>
    <div class="patologia content" id="cont_{{patologia.slug_nombre}}">
        <div class="descripcion">
            <h2>Descripción</h2>
            {{patologia.descripcion|safe}}
            <div class="imagen_patologia">
                <img src="{{media_url}}{{patologia.imagen}}">
            </div>
        </div>
        <div class="info">
            <div class="causas">
                <h2>Causas</h2>
                {{patologia.causas|safe}}
            </div>
            <div class="sintomas">
                <h2>Síntomas</h2>
                {{patologia.sintomas|safe}}
            </div>
        </div>
    </div>
    {% endfor%}
</div>

{% endblock %}

{% block footer_javascript%}
<script>
//Activa acordeon
$('.ui.accordion')
.accordion();
</script>
{%endblock%}
