{% extends "base.html" %}
{% load static %}
{% block head_title %} {{sitio.web}} | {{ pagina.titulo }}{% endblock %}


{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'pagina/pagina.css' %}">

{% endblock %}


{% block content%}

<section class="pagina-empresa">
	<div class="container">
		<div class="pag-content">
		<div class="pag-title"><h2>{{ pagina.titulo }}</h2></div>
		<div class="pag-img col-sm-4" ><img src={{ static_media_url }}{{ pagina.imagen}} width="250px" height=auto ></div>
		<div class="pag-text col-sm-8">{{ pagina.cuerpo| safe }}</div>
		</div>
	</div>
</section>
{% endblock %}
