{% extends "base.html" %}
{% load static %}
{% block head_title %} {{sitio.web}} | Especialistas {% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'articulo/articulos.css' %}">

{% endblock %}

{% block content %}

<h1>Últimas Noticias</h1>
<div class="ui link cards">
    {% for articulo in object_list %}

    <div class="card">

      <div class="image">

          <img src="{{media_url}}{{articulo.imagen}}">
    </div>

    <div class="content">

        <div class="header">{{articulo.titulo}}</div>
      <div class="meta">
        <a>{{articulo.clasificacion}}</a>
      </div>

      <div class="description">
          {{articulo.cuerpo|truncatechars:155 }}...
      </div>

    </div>

    <div class="extra content">

        {{articulo.slug_titulo}}
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block footer_javascript%}

{%endblock%}
