{% extends "base.html" %}
{% load static %}
{% block head_title %} {{sitio.web}} | Artículos {% endblock %}


{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'especialista/especialista.css' %}">
{% endblock %}

{% block content %}
<h1>Últimos Artículos</h1>
<div class="ui link cards">
    {% for articulo in object_list %}

  <div class="card">
      <div class="image">
          <img src="{{media_url}}{{articulo.imagen}}">
    </div>
    <div class="content">
        <h3>{{articulo.clasificacion}}|{{articulo.titulo}}</h3>
        <div class="short_art">
            {{articulo.cuerpo|truncatechars:150| safe }}
        </div>
    </div>

    <div class="extra content">
        <div class="etiquetas">
            {% for label in articulo.etiquetas.all %}
            <div class="">{{labe}}</div>
            {% endfor %}
        </div>
    </div>

    </div>

    {% endfor %}


</div>
{% endblock %}

{% block footer_javascript%}

{%endblock%}
