#especialidades{
    background-color: white;
}

.especialidad.title{ 
    padding: 5px;
    color: white;
    background-color:rgb(153, 204, 255) ;
    margin: 1px;
    font-size: 20px !important;
    padding-left:20px;
    text-indent: 20px;
}



.especialidad.content{
    font-size: 16px;
    text-indent: 30px;
    
}
