{% load staticfiles %}
{% load i18n %}

<html>

    <!doctype html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block head_title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
        {% block top_front_frameworks %} 
        <link rel="stylesheet" type="text/css" href="{% static 'framework/semantic/dist/semantic.min.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        {% endblock %}
        {% block head_css %}
        {% endblock %}
        {% block head_javascript %}
        {% endblock %}
    </head>

    <body  id="naturopatia_body">

        <div id="nav_menu">
            <div class="nav main ui container">
                {% block navbar %}
            <div class="ui top stackable {{nv}} item menu">
                <div class="item">
                    <img id="nav_icon" src="{% static 'img/logo.png' %}">
                    Naturopatía Chile
                </div> 
                {% for idi, item in nav%}
                <div class="item">
                    <a href="{{item.link}}" id="{{idi}}">{{item.texto}}</a> 
                </div>
                {% endfor %}
            </div>
            {% endblock navbar %}
            </div>
        </div>

        <div id="all_content">
          <div class="header ui container">
              {% block head %}
              {% endblock head %}
          </div>

          <div class="sidebar_left ui container">
              {% block sidebar_left %}
              {% endblock sidebar_left %}
          </div>
          <div class="content ui container">
              {% block content %}
              {% endblock content %}
          </div>
          <div class="sidebar_right ui container">
              {% block sidebar_right %}
              {% endblock sidebar_right %}
          </div>
        </div>

        <div id="footer">
            {% include 'contacto.html' %}
            {% block buttom_front_frameworks %}

            <!-- JQUERY:-->
            <script src="{% static 'framework/jquery/dist/jquery.min.js' %}"></script>
            <!-- Semantic:-->
            <script src="{% static 'framework/semantic/dist/semantic.min.js' %}"></script>
            <link rel="stylesheet" type="text/css" href="{% static 'framework/semantic/dist/semantic.min.css' %}">

            <script src="{% static 'js/main.js' %}"></script>

            {% endblock %}
            {% block footer_css %}
            {% endblock %}
            {% block footer_javascript %}
            {% endblock %}
        </div>

    </body>

</html>
