<div id="data-contacto">
    <div id="org_address">
        {{contacto.direccion}}, {{contacto.comuna}}
    </div>
    <div  id="social_networks">
        <div class="ui stackable buttons">
            <button class="ui green button" id="cto-whatsapp">
                <i class="whatsapp icon"></i>
                <a href="https://api.whatsapp.com/send?phone={{contacto.telefono}}" style="color:white">Llámame</a>
            </button>
            <button class="ui facebook button" id="cto-facebook">
                <i class="facebook icon"></i>{{contacto.facebook}}</button>
            <button class="ui linkedin button" id="cto-linkedin">
                <i class="linkedin icon"></i>{{contacto.linkedin}}</button>
            <button class="ui twitter button"  id="cto-twitter">
                <i class="twitter icon"></i>{{contacto.twitter}}</button>
            <button class="ui instagram button"  id="cto-instagram">
                <i class="instagram icon"></i>{{contacto.instagram}}</button>
        </div>
    </div>
</div>
