#naturopatia_body{
    margin-top: 30px
}

.presentacion{
    margin-right:20px;
}

#big_logo{
    width:300px;
}

.header{
    margin-top:50px;
}

.site_name{
    margin-top:50px;
    margin-bottom: 20px;
    text-align: center;
}

.main{
    margin-bottom:20px;
}

.header{
    position: relative;
}

.content{
    padding-top:50px;
}

.content .pag-title{
    text-align: center;
}

#titulo{
    font-size: 26;
    padding-bottom: 5px;
    width:100%;
}

#frase{
    width:100%;
}

.nav .presentacion img{
    width:100px;
}

html,
body {
    height: 100%;
    position: relative;
}

#naturopatia_body{
    background-image:url("/static/img/hexagon.jpg");
    background-size: 100px;
    background-repeat: repeat;
    min-height:100vh;
    position:relative;
    display: block;
}

footer {
}


#all_content {
    position: relative;
    padding:10px;
    margin-bottom:40px;
}


#footer {
    color:white;
    background-color: black;
    text-align: center;
    bottom:0;    
    width:100%;
}

#data-contacto{
    margin: 10px;
    padding: 10px;
}

#social_networks{
    margin:auto;
    display:inline-block;
    text-align:center;
    padding: 20px;
}

#nav_icon{
    width:30px;
}

@media only screen and (max-width: 767px) {
    .ui.stackable.buttons{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .ui.stackable.buttons > .button{
        width: 100%;
    }
}
