#patologias{
    background-color: white;
}

.patologia.title{ 
    padding: 5px;
    color: white;
    background-color:rgb(153, 204, 255) ;
    margin: 1px;
    font-size: 20px !important;
    padding-left:20px;
    text-indent: 20px;
}



.patologia.content{
    font-size: 16px;
    text-indent: 30px;    
}


.imagen_patologia img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.causas{
    margin-bottom: 30px;
}
.sintomas{
    margin-bottom: 20px;
}
